#info {
  margin: 32px;
  max-width: 720px;

  h1, h2, h3, p {
    font-family: opensans, helvetica, arial, sans-serif;
  }
  
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }
}