.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 32px;

  ul {
    width: 400px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }

  .navItem {
    a {
      font-family: Merriweather;
      color: #3F3D56;
      text-decoration: none;
      font-size: 24 px;
    }
  }

}