.navbar {
  width: 100%;
  display: flex;
  padding-top: 0.1em;

  ul {
    padding-inline-start: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
   }

  .navItem {
    a {
      font-family: Merriweather;
      color: #3F3D56;
      text-decoration: none;
      font-size: 12px;
      font-weight: bold;
      margin-left: 8px;
    }
  }

}