body {
  margin: 0;
}

@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather-Light'), url(./fonts/Merriweather-Light.ttf) format('truetype');
  src: local('Merriweather'), url(./fonts/Merriweather-Regular.ttf) format('truetype');
}